# ----------------------------------------------------------- IMPORTANT ------------------------------------------------------------------ #
#                                                                                                                                          #
#   Change default password in ./private_details/private.config                                                                            #
#                                                                                                                                          #
#                                                                                                                                          #
#   If "enable_SSH" is true, put your custom SSH keys in ./private_details/container_id_rsa and ./private_details/container_id_rsa.pub     #
#   If these are not provided, they will default to your host's SSH keys                                                                   #
#                                                                                                                                          #
# ---------------------------------------------------------------------------------------------------------------------------------------- #

# Container username: pick any username  
name="dylan"

# Host name: Users/<host_name> for Windows and /home/<host_name> for Linux, WSL or MacOS
host_name="dylan"

# Set to either "docker" or "podman" ("podman" is recommended due to safer permissions when mounting onto the host's file system)
container_manager="docker"

# Only applicable if the container_manager is "docker"
# If "true": launches you into the container as ROOT (less safe but file permissions automatically synced) 
# If "false": launches you into the container as USER (more safe but file permissions differ between host and container, depending on who created the file)
# For both safety and file permission syncing, set container_manager to "podman"
use_docker_as_root="false"

# Adds SSH keys to the container: defaults to your host's SSH keys if ./private_details/container_id_rsa or ./private_details/container_id_rsa.pub do not exist 
add_SSH_keys="false" 

# Name of the container: pick any meaningful project name
container_name="container_name"

# Name of the terminal: container terminal looks like name@terminal-name:/
terminal_name="terminal-name"

# Absolute path to mounted file directory: defaults to "project_name/" (parent of "docker/") if left blank ("")
mount_from=""

# GitHub credentials: leave blank to omit your details 
github_username="DylanMoss1"
github_email="dylan.moss2001@gmail.com"

# Custom docker/podman flags when setting up container with "docker/podman run ..."
custom_args=""
