# ----------------------------------------------------- IMPORTANT ------------------------------------------------------ #
#                                                                                                                        #
#                                                                                                                        #
#   Change default password in ./private_details/private.config                                                          #
#                                                                                                                        #
#                                                                                                                        #
#   Please put your custom SSH keys in ./private_details/container_id_rsa and ./private_details/container_id_rsa.pub     #
#   If this is not provided, this will default to your host's SSH keys                                                   #
#                                                                                                                        #
#                                                                                                                        #
# ---------------------------------------------------------------------------------------------------------------------- #

# Set container username 
name="dylan"

# Host name (corresponding to file system folder Users/<host_name> for Windows, or /home/<host_name> for Linux, WSL or MacOS)
host_name="dylan"

# Set to either "docker" or "podman" ("podman" is recommended due to safer permissions when mounting onto the host's file system)
container_manager="podman"

# Only applicable if the container_manager is "docker" (has no effect if container_manager is "podman")
# If "true": launches you into the container as ROOT
#   - Less safe
#   - File permissions automatically synced 
# If "false": launches you into the container as USER
#   - More safe 
#   - File permissions differ between host and container (depending on where the file was created)
# For both safety and file permission syncing, please set container_manager to "podman"
use_docker_as_root="false"

# Name of the container (set to any meaningful project name)
container_name="container_name"

# Name of the terminal, purely cosmetic (i.e. terminal looks like name@terminal-name:/)
terminal_name="terminal-name"

# The current file structure looks like:
#
# project-name/
#   docker/
#     ...
#   src/
#     ... 
#
# Select the (absolute path) to the host directory to mount files from
# If left blank, this defaults to "project_name/"
# RECOMMENDED: Leave blank ("") 
mount_from=""

# Git credentials
github_username="DylanMoss1"
github_email="dylan.moss2001@gmail.com"

# Custom docker/podman run commands
custom_args=""
